@model PaginatedList<QlydkInternet.ViewModels.HopDongViewModel>

@{
    ViewData["Title"] = "Tạo hợp đồng";
}

@section menu{
   
}

<h2>Danh sách hợp đồng tới hạn thanh toán</h2>

<div class="row" id="context">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="width: 15%">
                        Mã hợp đồng
                    </th>
                    <th style="width: 15%">
                        Ngày đăng ký
                    </th>
                    <th style="width: 15%">
                        Tên khách hàng
                    </th>
                    <th style="width: 15%">
                        Tên gói cước
                    </th>
                    <th style="width: 15%">
                        Loại thanh toán
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
            {
                <tr class="selectable">
                    <td style="padding-left: 11px">
                        @customer.mahd
                    </td>
                    <td style="padding-left: 11px">
                        @customer.ngdk.ToString("dd/MM/yyyy")
                    </td>
                    <td style="padding-left: 11px">
                        @customer.tenkh
                    </td>
                    <td style="padding-left: 11px">
                        @customer.tengc
                    </td>
                    <td style="padding-left: 11px">
                        @customer.tenloaitt
                    </td>
                    <td style="text-align:center">
                        @*<button class="ui primary submit button" id="btnThem" asp-action="TaoHoaDon" asp-route-mahd="@customer.mahd">Tạo hóa đơn</button>*@
                        <a asp-action="TaoHoaDon" asp-route-id="@customer.mahd">
                            Tạo hóa đơn
                        </a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <form class="ui form" asp-controller="HoaDon" asp-action="Create" method="post" id="createform" style="display:none">
            <input class="prompt"
                   type="hidden"
                   id="mahd">
        </form>
        @Html.Partial("_CreatePaginated", Model)
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnThem').on("click", function () {
            $("#mahd").val($("#temp").val())
            var url = $("#createform").attr("action");
            var mahd = $("#mahd").val();
            var token = $('#createform input').val();
            var data = {
                mahd: mahd,
                __RequestVerificationToken: token
            }
            alert(mahd)
            $.ajax({
                type: "post",
                url: url,
                data: data,
                success: function (result, status, xhr) {
                    if (status === 'success') {
                        //window.location.reload();
                        //alert(result.str);
                        $('#notify-modal').html(result);
                        $('#notify-modal').modal('show');
                        setTimeout(function () {
                            $('#notify-modal').modal('hide');
                        }, 1000);
                    }
                },
                error: function (xhr, status, error) {
                    //idk what to do right here
                    //inactive dimmer
                }
            });
        })
        $("#qlhdon").addClass("ui active");
    })
</script>

