@model PaginatedList<QlydkInternet.ViewModels.HopDongViewModel>

@{
    ViewData["Title"] = "Tạo Hóa Đơn Tính Cước";
}
@section Nhanvien{

    <img src="/images/patrick.png" class="ui circular image" style="margin-left: 73px; max-width:28%;margin-top:7px">

    <h2 class="ui header" style="text-align:  center;color: wheat;margin-top: 0;">
        @ViewBag.sessionnv
    </h2>
}
<h2>Danh sách hợp đồng tới hạn thanh toán</h2>

<div class="row" id="context">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="width: 15%">
                        Mã hợp đồng
                    </th>
                    <th style="width: 15%">
                        Ngày áp dụng
                    </th>
                    <th style="width: 15%">
                        Tên khách hàng
                    </th>
                    <th style="width: 15%">
                        Tên gói cước
                    </th>
                    <th style="width: 15%">
                        Tình trạng
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr class="selectable">
                        <td style="padding-left: 11px">
                            @customer.mahopdong
                        </td>
                        <td style="padding-left: 11px">
                            @customer.ngayapdung.Value.ToString("dd/MM/yyyy")
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tenkhachhang
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tengoicuoc
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tentinhtrang
                        </td>
                        <td style="text-align:center">
                            @*<button class="ui primary submit button" id="btnThem" asp-action="TaoHoaDon" asp-route-mahd="@customer.mahd">Tạo hóa đơn</button>*@
                            <a asp-action="TaoHoaDon" asp-route-id="@customer.mahopdong">
                                Tạo hóa đơn
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <form class="ui form" asp-controller="HoaDon" asp-action="Create" method="post" id="createform" style="display:none">
            <input class="prompt"
                   type="hidden"
                   id="mahd">
        </form>
        @Html.Partial("_CreatePaginated", Model)
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnXoa").on("click", function () {
            var url = '@Url.Action("Index","HoaDon")';
            window.location = url;
        })
        $('#btnThem').on("click", function () {
            $("#mahd").val($("#temp").val())
            var url = $("#createform").attr("action");
            var mahd = $("#mahd").val();
            var token = $('#createform input').val();
            var data = {
                mahd: mahd,
                __RequestVerificationToken: token
            }
            alert(mahd)
            $.ajax({
                type: "post",
                url: url,
                data: data,
                success: function (result, status, xhr) {
                    if (status === 'success') {
                        //window.location.reload();
                        //alert(result.str);
                        $('#notify-modal').html(result);
                        $('#notify-modal').modal('show');
                        setTimeout(function () {
                            $('#notify-modal').modal('hide');
                        }, 1000);
                    }
                },
                error: function (xhr, status, error) {
                    //idk what to do right here
                    //inactive dimmer
                }
            });
        })
        $("#qlhdon").addClass("ui active");
    })
</script>

