@model PaginatedList<QlydkInternet.ViewModels.HoaDonViewModel>

@{
    ViewData["Title"] = "Hóa Đơn Tính Cước";
}

@section Nhanvien{

    <img src="/images/patrick.png" class="ui circular image" style="margin-left: 73px; max-width:28%;margin-top:7px">

    <h2 class="ui header" style="text-align:  center;color: wheat;margin-top: 0;">
        @ViewBag.sessionnv
    </h2>
}



<div class="row">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <h2 style="text-align:center">Danh sách hóa đơn</h2>
    </div>
    <div class="three wide column">
        <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Mã hóa đơn" id="search">
        </div>
    </div>
</div>
<div class="row" id="context">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="">
                        Mã hóa đơn
                    </th>
                    <th style="width: 15%">
                        Ngày lập
                    </th>
                    <th style="width: 15%">
                        Ngày thanh toán
                    </th>
                    <th style="width: 15%">
                        Trị giá
                    </th>
                    <th style="width: 15%">
                        Tên khách hàng
                    </th>
                    <th style="width: 15%">
                        Tên nhân viên
                    </th>
                    <th style="width: 15%">
                        Hạn hóa đơn
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr class="selectable">
                        <td style="padding-left: 11px">
                            <a asp-action="Details" asp-route-id="@customer.mahoadon">
                                @customer.mahoadon
                            </a>
                        </td>
                        <td style="padding-left: 11px">
                            @customer.ngaylap.Value.ToString("dd/MM/yyyy")
                        </td>
                        <td style="padding-left: 11px">
                            @if (customer.ngaythanhtoan.HasValue)
                            {
                                <div class="ui green horizontal label">
                                    @customer.ngaythanhtoan.Value.ToString("dd/MM/yyyy")
                                </div>

                            }
                            @if (!customer.ngaythanhtoan.HasValue)
                            {
                                <div class="ui red horizontal label">
                                    @customer.tentinhtrang
                                </div>

                            }
                        </td>
                        <td style="padding-left: 11px">
                            @(((int)customer.trigia).ToString("N0") + " ₫")
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tenkhachhang
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tennhanvien
                        </td>
                        <td style="padding-left: 11px">
                            @if (customer.hanthanhtoan.HasValue)
                            {
                                @customer.hanthanhtoan.Value.ToString("dd/MM/yyyy")

                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_Paginated", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#qlhdon").addClass("ui active");
        $("#search").keypress(function (event) {
            if (event.which == 13) {

                var keyword = $(this).val();
                alert(keyword)
            var url = '@Url.Action("TimKiem","HoaDon")';

            window.location = url + "?mahoadon=" + keyword;
            }
        })
    })
</script>



