@model QlydkInternet.ViewModels.GoiCuocViewModel
@{
    ViewData["Title"] = "Tạo gói cước";
}

@section Nhanvien{

    <img src="/images/patrick.png" class="ui circular image" style="margin-left: 73px; max-width:28%;margin-top:7px">

    <h2 class="ui header" style="text-align:  center;color: wheat;margin-top: 0;">
        @ViewBag.sessionnv
    </h2>
}

<h2>Tạo gói cước</h2>
<div class="row">
    <div class="column">
        <h3 class="ui dividing teal header"></h3>
    </div>
</div>
<div class="row">
    <div class="ui ten wide column">
        <form class="ui form" asp-controller="GoiCuoc" asp-action="Create" id="createform">
            <div class="field" id="providerFields">
                <label>Tên gói cước</label>
                <div class="ui search" id="provider-search">
                    <input class="prompt"
                           id="tengc"
                           asp-for="@Model.tengoicuoc"
                           placeholder="Tên gói cước">
                    <div class="results"></div>
                </div>
            </div>
            <div class="field">
                <label>Cước thuê bao</label>
                <input type="number"
                       placeholder="Cước thuê bao"
                       asp-for="@Model.cuocthuebao"
                       id="giacuoc"
                       value="1000">
            </div>
            <div class="field">
                <label>Giá cước đêm</label>
                <input type="text"
                       placeholder="Giá cước đêm"
                       asp-for="@Model.giacuocdem"
                       id="tocdo"
                       value="1000">
            </div>
            <div class="field">
                <label>Giá cước ngày</label>
                <input type="number"
                       placeholder="Giá cước ngày"
                       asp-for="@Model.giacuocngay"
                       id="giacuoc"
                       value="1000">
            </div>
            <div class="field">
                <label>Tình trạng</label>
                <select class="ui fluid dropdown"
                        id="loaigc"
                        asp-for="@Model.matinhtrang"
                        asp-items="@Model.listtinhtrang"
                        data-validate="valid-customer-type"></select>
            </div>
            <div class="ui center aligned segment" style="border:none; box-shadow:none">
                <button class="ui primary submit toggle button" type="submit" id="btnThem" style="width:19%">Lưu</button>
                <div class="ui reset toggle button" id="btnXoa" style="width:19%">Hủy</div>
            </div>
        </form>
    </div>
</div>
<div class="ui tiny modal" id="notify-modal">
    <div class="header">Thành công</div>
    <div class="content">
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>

<script src="~/js/cleave.min.js"></script>
<script src="~/js/numeral.min.js"></script>

<script>
        $(document).ready(function () {
            $("#btnXoa").on("click", function () {
            var url = '@Url.Action("Index","GoiCuoc")';
            window.location = url;
        })
            $("#qlgc").addClass("ui active");
        })
</script>

