@model QlydkInternet.ViewModels.GoiCuocViewModel
@{
    ViewData["Title"] = "Chi tiết gói cước";
}

@section Nhanvien{

    <img src="/images/patrick.png" class="ui circular image" style="margin-left: 73px; max-width:28%;margin-top:7px">

    <h2 class="ui header" style="text-align:  center;color: wheat;margin-top: 0;">
        @ViewBag.sessionnv
    </h2>
}

<h2>Chi tiết gói cước</h2>

<div class="ui centered grid equal width" style="width:100%;">
    <div class="sixteen wide column">
        <h3 class="ui dividing teal header"></h3>
    </div>
    <div class="row">
        <div class="column">
            <h3 class="ui dividing header">
                Mã gói cước
                <div class="sub header" style="font-size:2rem">@Model.magoicuoc</div>
            </h3>
        </div>
        <div class="column">
            <h3 class="ui dividing header">
                Tên gói cước
                <div class="sub header" style="font-size:2rem">@Model.tengoicuoc</div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column" id="tenkhachhang">
            <h3 class="ui dividing header">
                Cước thuê bao
                <div class="sub header" style="font-size:2rem">@(((int)Model.cuocthuebao).ToString("N0") + " ₫")</div>
            </h3>
        </div>
        <div class="column" id="tenncc">
            <h3 class="ui dividing header">
                Giá cước đêm
                <div class="sub header" style="font-size:2rem">@(((int)Model.giacuocdem).ToString("N0") + " ₫")</div>
            </h3>
        </div>

    </div>
    <div class="row">
        <div class="column">
            <h3 class="ui dividing header">
                Giá cước ngày
                <div class="sub header" style="font-size:2rem">@(((int)Model.giacuocngay).ToString("N0") + " ₫")</div>
            </h3>
        </div>
        <div class="column">
            <h3 class="ui dividing header">
                Tình trạng
                <div class="sub header" style="font-size:2rem">@Model.tentinhtrang</div>
                @*<div class="ui transparent fluid disabled input">
                        <input type="text" style="font-size:2rem" placeholder="Search...">
                    </div>*@
            </h3>
        </div>
    </div>
</div>
<form class="ui form" asp-controller="GoiCuoc" asp-action="Update" method="get" id="createform" style="width:100%">
    <input class="prompt"
           type="hidden"
           asp-for="@Model.magoicuoc"
           placeholder="Tên gói cước"
           value="@Model.magoicuoc">
    <div class="ui center aligned segment" style="border:none; box-shadow:none">
        <button class="ui primary submit toggle button" type="submit" id="btnThem" style="width:11%">Chỉnh sửa</button>
        <div class="ui reset toggle button" id="btnXoa" style="width:11%">Quay lại</div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#btnXoa").on("click", function () {
            var url = '@Url.Action("Index","GoiCuoc")';
            window.location = url;
        })
        $("#qlgc").addClass("ui active");
    })
</script>

