@model PaginatedList<QlydkInternet.ViewModels.GoiCuocViewModel>

@{
    ViewData["Title"] = "Gói cước";
}

@section Nhanvien{

    <img src="/images/patrick.png" class="ui circular image" style="margin-left: 73px; max-width:28%;margin-top:7px">

    <h2 class="ui header" style="text-align:  center;color: wheat;margin-top: 0;">
        @ViewBag.sessionnv
    </h2>
}

<h2>Danh sách gói cước</h2>

<div class="row" id="context">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="width: 10%">
                        Mã gói cước
                    </th>
                    <th style="width: 10%">
                        Tên gói cước
                    </th>
                    <th style="width: 10%">
                        Cước thuê bao
                    </th>
                    <th style="width: 10%">
                        Giá cước đêm
                    </th>
                    <th style="width: 10%">
                        Giá cước ngày
                    </th>
                    <th>
                        Tình trạng
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr class="selectable">
                        <td style="padding-left: 11px">
                            <a asp-action="Details" asp-route-id="@customer.magoicuoc">
                                @customer.magoicuoc
                            </a>
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tengoicuoc
                        </td>
                        <td style="padding-left: 11px">
                            @(((int)customer.cuocthuebao).ToString("N0") + " ₫")
                        </td>
                        <td style="padding-left: 11px">
                            @(((int)customer.giacuocdem).ToString("N0") + " ₫")
                        </td>
                        <td style="padding-left: 11px">
                            @(((int)customer.giacuocngay).ToString("N0") + " ₫")
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tentinhtrang
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_Paginated", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#qlgc").addClass("ui active");
    })
</script>