@model PaginatedList<QlydkInternet.ViewModels.GoiCuocViewModel>

@{
    ViewData["Title"] = "Gói cước";
}

@section menu{

}

<h2>Danh sách gói cước</h2>

<div class="row" id="context">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="width: 10%">
                        Mã gói cước
                    </th>
                    <th style="width: 10%">
                        Tên gói cước
                    </th>
                    <th style="width: 15%">
                        Loai gói cước
                    </th>
                    <th style="width: 10%">
                        Tốc độ
                    </th>
                    <th style="width: 10%">
                        Giá cước
                    </th>
                    <th>
                        Mô tả
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr class="selectable">
                        <td style="padding-left: 11px">
                            <a asp-action="Details" asp-route-id="@customer.magc">
                                @customer.magc
                            </a>
                        </td>
                        <td  style="padding-left: 11px">
                            @customer.tengc
                        </td>
                        <td  style="padding-left: 11px">
                            @customer.tenloaigc
                        </td>
                        <td  style="padding-left: 11px">
                            @customer.tocdo
                        </td>
                        <td style="padding-left: 11px">
                            @(((int)customer.giacuoc).ToString("N0") + " ₫")
                        </td>
                        <td style="padding-left: 11px">
                            @customer.mota
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_Paginated", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#qlgc").addClass("ui active");
    })
</script>