@model QlydkInternet.ViewModels.GoiCuocViewModel
@{
    ViewData["Title"] = "Cập nhật gói cước";
}

@section menu{
    
}

<h2>Cập nhật gói cước</h2>
<div class="row">
    <div class="column">
        <h3 class="ui dividing teal header"></h3>
    </div>
</div>
<div class="row">
    <div class="ui ten wide column">
        <form class="ui form" asp-controller="GoiCuoc" asp-action="Update" id="createform">
            <div class="field" id="providerFields">
                <label>Tên gói cước</label>
                <div class="ui search" id="provider-search">
                    <input class="prompt"
                           id="tengc"
                           asp-for="@Model.tengc"
                           placeholder="Tên gói cước"
                           value="@Model.tengc">
                    <input class="prompt"
                           type="hidden"
                           asp-for="@Model.magc"
                           placeholder="Tên gói cước"
                           value="@Model.magc">

                    <div class="results"></div>
                </div>
            </div>
            <div class="field">
                <label>Loại gói cước</label>
                <select class="ui fluid dropdown"
                        id="loaigc"
                        asp-for="@Model.loaigc"
                        asp-items="@Model.listloaigc"
                        data-validate="valid-customer-type"></select>
            </div>
            <div class="field">
                <label>Tốc độ</label>
                <input type="text"
                       placeholder="Tốc độ"
                       asp-for="@Model.tocdo"
                       id="tocdo"
                       value="@Model.tocdo">
            </div>
            <div class="field">
                <label>Giá cước</label>
                <input type="number"
                       placeholder="Giá cước"
                       asp-for="@Model.giacuoc"
                       id="giacuoc"
                       value="@Model.giacuoc">
            </div>
            <div class="field">
                <label>Mô tả</label>
                <textarea type="text"
                          name="mota"
                          placeholder="Mô tả"
                          asp-for="@Model.mota"
                          data-validate="valid-phone"
                          rows="2"
                          id="mota">@Model.mota</textarea>
            </div>

            <div class="ui center aligned segment" style="border:none; box-shadow:none">
                <button class="ui primary submit toggle button" type="submit" id="btnThem" style="width:19%">Lưu</button>
                <div class="ui reset toggle button" id="btnXoa" style="width:19%">Hủy</div>
            </div>
        </form>
    </div>
</div>
<div class="ui tiny modal" id="notify-modal">
    <div class="header">Thành công</div>
    <div class="content">
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>

<script src="~/js/cleave.min.js"></script>
<script src="~/js/numeral.min.js"></script>

<script>
    $(document).ready(function () {
        $("#qlgc").addClass("ui active");
    })
</script>



