@model PaginatedList<QlydkInternet.ViewModels.HopDongViewModel>

@{
    ViewData["Title"] = "Hợp Đồng";
}

@section Nhanvien{

    <img src="/images/patrick.png" class="ui circular image" style="margin-left: 73px; max-width:28%;margin-top:7px">

    <h2 class="ui header" style="text-align:  center;color: wheat;margin-top: 0;">
        @ViewBag.sessionnv
    </h2>
}

<div class="row" >
    <div class="three wide column"></div>
    <div class="ten wide column">
        <h2 style="text-align:center">Danh sách bị đình chỉ</h2>
    </div>
    <div class="three wide column">
        <div class="ui primary button" id="btnPrint" style="width:100%">In danh sách</div>
    </div>
</div>
<div class="row" id="print">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="width: 15%">
                        Mã hợp đồng
                    </th>
                    <th style="width: 15%">
                        Ngày đăng ký
                    </th>
                    <th style="width: 15%">
                        Ngày áp dụng
                    </th>
                    <th style="width: 15%">
                        Tên khách hàng
                    </th>
                    <th style="width: 15%">
                        Tên gói cước
                    </th>
                    <th style="width: 15%">
                        Người lập
                    </th>
                    <th>
                        Tình trạng
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {

                    <tr class="selectable">

                        <td style="padding-left: 11px">
                            <a asp-controller="HopDong" asp-action="Details" asp-route-id="@customer.mahopdong">
                                @customer.mahopdong
                            </a>
                        </td>
                        @if (customer.ngaydangky.HasValue)
                        {
                            <td style="padding-left: 11px">
                                @customer.ngaydangky.Value.ToString("dd/MM/yyyy")
                            </td>

                        }
                        @if (!customer.ngaydangky.HasValue)
                        {
                            <td style="padding-left: 11px"></td>

                        }
                        @if (customer.ngaydangky.HasValue)
                        {
                            <td style="padding-left: 11px">
                                @customer.ngayapdung.Value.ToString("dd/MM/yyyy")
                            </td>

                        }
                        @if (!customer.ngaydangky.HasValue)
                        {
                            <td style="padding-left: 11px"></td>

                        }
                        <td style="padding-left: 11px">
                            @customer.tenkhachhang
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tengoicuoc
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tennhanvien
                        </td>
                        <td style="padding-left: 11px">
                            @if (customer.tentinhtrang == "Bị đình chỉ")
                            {
                                <div class="ui red horizontal label">
                                    @customer.tentinhtrang
                                </div>

                            }
                            @if (customer.tentinhtrang == "Đang đợi" || customer.tentinhtrang == "Chờ cấp SĐT")
                            {
                                <div class="ui yellow horizontal label">
                                    @customer.tentinhtrang
                                </div>

                            }
                            @if (customer.tentinhtrang == "Lưu thông")
                            {
                                <div class="ui green horizontal label">
                                    @customer.tentinhtrang
                                </div>

                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_DinhChiPaginated", Model)
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#thongke").addClass("ui active");
        $("#btnPrint").on("click", function () {
            var divContents = $("#print").html();
            var printWindow = window.open('', '', 'height=720,width=1280');
            printWindow.document.write('<html><head><title></title>');
            printWindow.document.write('<link href=\"https:\//cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css"/></head><body >');

            printWindow.document.write('<div class="ui centered grid equal width" style="width: 95%;margin-top:  0px;margin-left: 10px;">');
            printWindow.document.write('<h3 class="ui header">Danh sách bị đình chỉ');
            printWindow.document.write('</h3>');
            printWindow.document.write(divContents);

            printWindow.document.write('</div>');
            printWindow.document.write('<div class="ui centered grid equal width" style="width:95%;margin-left:10px">');
            printWindow.document.write('<div class="sixteen wide column">');
            printWindow.document.write('<h3 class="ui dividing teal header"></h3>');
            printWindow.document.write('</div>');
            printWindow.document.write('<div class="row">');
            printWindow.document.write('<div class="column">');
            printWindow.document.write('<h3 class="ui dividing header">Ngày......tháng......năm......');
            printWindow.document.write('</h3>');
            printWindow.document.write(' </div>');
            printWindow.document.write('<div class="column">');
            printWindow.document.write('<h3 class="ui dividing header">Người lập báo cáo');
            printWindow.document.write('</h3>');
            printWindow.document.write(' </div>');
            printWindow.document.write(' </div>');



            printWindow.document.write('</div>');
            printWindow.document.write('</body></html>');

            printWindow.document.close();
            printWindow.print();
        });
    })
</script>



