@model PaginatedList<QlydkInternet.ViewModels.HoaDonViewModel>

@{
    ViewData["Title"] = "Hóa đơn quá hạn";
}

@section menu{

}

<div class="row">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <h2 style="text-align:center">Danh sách hóa đơn quá hạn thanh toán</h2>
    </div>
    <div class="three wide column">
        <div class="ui primary button" id="btnPrint" style="width:100%">In danh sách</div>
    </div>
</div>
<div class="row" id="print">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="width:10%">
                        Số hóa đơn
                    </th>
                    <th style="width: 10%">
                        Ngày in
                    </th>
                    <th style="width: 12%">
                        Ngày thanh toán
                    </th>
                    <th style="width: 15%">
                        Trị giá
                    </th>
                    <th style="width: 20%">
                        Tên khách hàng
                    </th>
                    <th style="width: 20%">
                        Tên nhân viên
                    </th>
                    <th style="width: 15%">
                        Hạn thanh toán
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr class="selectable">
                        <td style="padding-left: 11px">
                            <a asp-controller="HoaDon" asp-action="Details" asp-route-id="@customer.sohd">
                                @customer.sohd
                            </a>
                        </td>
                        <td style="padding-left: 11px">
                            @customer.ngin.ToString("dd/MM/yyyy")
                        </td>
                        <td style="padding-left: 11px">
                            @if (customer.ngthanhtoan.HasValue)
                            {
                                <div class="ui green horizontal label">
                                    @customer.ngthanhtoan.Value.ToString("dd/MM/yyyy")
                                </div>

                            }
                            @if (!customer.ngthanhtoan.HasValue)
                            {
                                <div class="ui red horizontal label">
                                    Chưa thanh toán
                                </div>

                            }
                        </td>
                        <td style="padding-left: 11px">
                            @(((int)customer.trigia).ToString("N0") + " ₫")
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tenkh
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tennv
                        </td>
                        <td style="padding-left: 11px">
                            @customer.hanhoadon.ToShortDateString()
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_Paginated", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#thongke").addClass("ui active");
        $("#btnPrint").on("click", function () {
            var divContents = $("#print").html();
            var printWindow = window.open('', '', 'height=720,width=1280');
            printWindow.document.write('<html><head><title></title>');
            printWindow.document.write('<link href=\"https:\//cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css"/></head><body >');

            printWindow.document.write('<div class="ui centered grid equal width" style="width: 95%;margin-top:  0px;margin-left: 10px;">');
            printWindow.document.write('<h3 class="ui header">Danh sách hóa đơn quá hạn thanh toán');
            printWindow.document.write('</h3>');
            printWindow.document.write(divContents);

            printWindow.document.write('</div>');
            printWindow.document.write('<div class="ui centered grid equal width" style="width:95%;margin-left:10px">');
            printWindow.document.write('<div class="sixteen wide column">');
            printWindow.document.write('<h3 class="ui dividing teal header"></h3>');
            printWindow.document.write('</div>');
            printWindow.document.write('<div class="row">');
            printWindow.document.write('<div class="column">');
            printWindow.document.write('<h3 class="ui dividing header">Ngày......tháng......năm......');
            printWindow.document.write('</h3>');
            printWindow.document.write(' </div>');
            printWindow.document.write('<div class="column">');
            printWindow.document.write('<h3 class="ui dividing header">Người lập báo cáo');
            printWindow.document.write('</h3>');
            printWindow.document.write(' </div>');
            printWindow.document.write(' </div>');



            printWindow.document.write('</div>');
            printWindow.document.write('</body></html>');

            printWindow.document.close();
            printWindow.print();
        });
    })
</script>





