@model QlydkInternet.ViewModels.DoanhThuThangViewModel
@{
    ViewData["Title"] = "Thống kê doanh thu";
}

@section menu{

}
<div class="row">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <h2 style="text-align:center">Doanh thu năm @Model.thongke[0].time.ToString("yyyy") tính đến ngày @DateTime.Now.ToString("dd/MM")</h2>
    </div>
    <div class="three wide column">
        <div class="ui primary button" id="btnPrint" style="width:100%">In báo cáo</div>
    </div>
</div>
<div class="row" id="print">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="width: 30%">
                        Tháng
                    </th>
                    <th style="width: 30%">
                        Doanh thu
                    </th>
                    <th>
                        Số đăng ký mới
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.thongke)
                {
                    <tr class="selectable">
                        <td style="padding-left: 11px">
                            @customer.time.ToString("MM")
                        </td>
                        <td style="padding-left: 11px">
                            @(((int)customer.doanhthu).ToString("N0") + " ₫")
                        </td>
                        <td style="padding-left: 11px">
                            @customer.sodangkymoi.ToString()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="sixteen wide column" style="padding:0">
        <table class="ui table">
            <thead>
                <tr>
                    <th style="width: 30%">
                        Tổng
                    </th>
                    <th style="width: 30%">
                        @(((int)@Model.tongdoanhthu).ToString("N0") + " ₫")
                    </th>
                    <th>
                        @Model.tongdangky
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#thongke").addClass("ui active");
        $("#btnPrint").on("click", function () {
            var divContents = $("#print").html();
            var printWindow = window.open('', '', 'height=720,width=1280');
            printWindow.document.write('<html><head><title></title>');
            printWindow.document.write('<link href=\"https:\//cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css"/></head><body >');
            
            printWindow.document.write('<div class="ui centered grid equal width" style="width: 95%;margin-top:  0px;margin-left: 10px;">');
            printWindow.document.write('<h3 class="ui header">Báo cáo doanh thu năm '+@DateTime.Now.ToString("yyyy")+' tính đến ngày '+@DateTime.Now.ToString("dd")+'/'+@DateTime.Now.ToString("MM"));
            printWindow.document.write('</h3>');
            printWindow.document.write(divContents);

            printWindow.document.write('</div>');
            printWindow.document.write('<div class="ui centered grid equal width" style="width:95%;margin-left:10px">');
            printWindow.document.write('<div class="sixteen wide column">');
            printWindow.document.write('<h3 class="ui dividing teal header"></h3>');
            printWindow.document.write('</div>');
            printWindow.document.write('<div class="row">');
            printWindow.document.write('<div class="column">');
            printWindow.document.write('<h3 class="ui dividing header">Ngày......tháng......năm......');
            printWindow.document.write('</h3>');
            printWindow.document.write(' </div>');
            printWindow.document.write('<div class="column">');
            printWindow.document.write('<h3 class="ui dividing header">Người lập báo cáo');
            printWindow.document.write('</h3>');
            printWindow.document.write(' </div>');
            printWindow.document.write(' </div>');

            

            printWindow.document.write('</div>');
            printWindow.document.write('</body></html>');

            printWindow.document.close();
            printWindow.print();
        });
    })
</script>

