@model QlydkInternet.ViewModels.DoanhThuThangViewModel
@{
    ViewData["Title"] = "Chi tiết gói cước";
}

@section menu{

}
@*@foreach (var customer in Model.thongke)
{
    <h2>Doanh thu tháng @customer.time.ToString("MM")</h2>

    <div class="ui centered grid equal width" style="width:100%;">
        <div class="sixteen wide column">
            <h3 class="ui dividing teal header"></h3>
        </div>
        <div class="row">
            <div class="column">
                <h3 class="ui dividing header">
                    Thu nhập
                    <div class="sub header" style="font-size:2rem">@customer.doanhthu</div>
                </h3>
            </div>
            <div class="column">
                <h3 class="ui dividing header">
                    Số đăng ký mới
                    <div class="sub header" style="font-size:2rem">@customer.sodangkymoi</div>
                </h3>
            </div>
        </div>
    </div>*@

<h2>Doanh thu năm @Model.thongke[0].time.ToString("yyyy")</h2>
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="width: 30%">
                        Tháng
                    </th>
                    <th style="width: 30%">
                        Doanh thu
                    </th>
                    <th>
                        Số đăng ký mới
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.thongke)
                {
                    <tr class="selectable">
                        <td style="padding-left: 11px">
                            @customer.time.ToString("MM")
                        </td>
                        <td style="padding-left: 11px">
                            @customer.doanhthu
                        </td>
                        <td style="padding-left: 11px">
                            @customer.sodangkymoi
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
@*}*@

<script>
    $(document).ready(function () {
        $("#thongke").addClass("ui active");
    })
</script>

