@model QlydkInternet.ViewModels.KhuyenMaiViewModel
@{
    ViewData["Title"] = "Chi tiết khuyến mãi";
}

@section menu{
    
}

<h2>Chi tiết khuyến mãi</h2>

<div class="ui centered grid equal width" style="width:100%;">
    <div class="sixteen wide column">
        <h3 class="ui dividing teal header"></h3>
    </div>
    <div class="row">
        <div class="column">
            <h3 class="ui dividing header">
                Mã khuyến mãi
                <div class="sub header" style="font-size:2rem">@Model.makm</div>
            </h3>
        </div>
        <div class="column">
            <h3 class="ui dividing header">
                Tên khuyến mãi
                <div class="sub header" style="font-size:2rem">@Model.tenkm</div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column" id="tenkhachhang">
            <h3 class="ui dividing header">
                Loại gói cước
                <div class="sub header" style="font-size:2rem">@Model.tenloaigc</div>
            </h3>
        </div>
        <div class="column" id="tenncc">
            <h3 class="ui dividing header">
                Loại khuyến mãi
                <div class="sub header" style="font-size:2rem">@Model.tenloaikm</div>
            </h3>
        </div>

    </div>
    <div class="row">
        <div class="column" id="tenkhachhang">
            <h3 class="ui dividing header">
                Ngày bắt đầu
                <div class="sub header" style="font-size:2rem">@Model.ngbd.ToString("dd/MM/yyyy")</div>
            </h3>
        </div>
        <div class="column" id="tenncc">
            <h3 class="ui dividing header">
                Ngày kết thúc
                <div class="sub header" style="font-size:2rem">@Model.ngkt.Value.ToString("dd/MM/yyyy")</div>
            </h3>
        </div>

    </div>
    <div class="row">
        <div class="column">
            <h3 class="ui dividing header">
                Giá cước
                <div class="sub header" style="font-size:2rem">@(((int)Model.trigia).ToString("N0") + "%")</div>
            </h3>
        </div>
        <div class="column">
            <h3 class="ui dividing header">

                Mô tả
                <div class="sub header" style="font-size:2rem">@Model.mota</div>
                @*<div class="ui transparent fluid disabled input">
                        <input type="text" style="font-size:2rem" placeholder="Search...">
                    </div>*@
            </h3>
        </div>
    </div>
</div>
<form class="ui form" asp-controller="KhuyenMai" asp-action="Update" method="get" id="createform" style="width:100%">
    <input class="prompt"
           type="hidden"
           asp-for="@Model.makm"
           placeholder="Tên gói cước"
           value="@Model.makm">
    <div class="ui center aligned segment" style="border:none; box-shadow:none">
        <button class="ui primary submit toggle button" type="submit" id="btnThem" style="width:11%">Chỉnh sửa</button>
        <div class="ui reset toggle button" id="btnXoa" style="width:11%">Hủy</div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#qlkm").addClass("ui active");
    })
</script>