@model PaginatedList<QlydkInternet.ViewModels.KhuyenMaiViewModel>

@{
    ViewData["Title"] = "khuyến mãi";
}

@section menu{

}

<h2>Danh sách khuyến mãi</h2>

<div class="row" id="context">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="width: 10%">
                        Mã khuyến mãi
                    </th>
                    <th style="width: 10%">
                        Tên khuyến mãi
                    </th>
                    <th style="width: 15%">
                        Loại gói cước
                    </th>
                    <th style="width: 10%">
                        Trị giá
                    </th>
                    <th style="width: 10%">
                        Ngày bắt đầu
                    </th>
                    <th>
                        Ngày kết thúc
                    </th>
                    <th>
                        Mô tả
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                <tr class="selectable">
                    <td style="padding-left: 11px">
                        <a asp-action="Details" asp-route-id="@customer.makm">
                            @customer.makm
                        </a>
                    </td>
                    <td style="padding-left: 11px">
                        @customer.tenkm
                    </td>
                    <td style="padding-left: 11px">
                        @customer.tenloaigc
                    </td>
                    <td style="padding-left: 11px">
                        @(((int)customer.trigia).ToString("N0") + " ₫")
                    </td>
                    <td style="padding-left: 11px">
                        @customer.ngbd.ToString("dd/MM/yyyy")
                    </td>
                    <td style="padding-left: 11px">
                        @customer.ngkt.Value.ToString("dd/MM/yyyy")
                    </td>
                    <td style="padding-left: 11px">
                        @customer.mota
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_Paginated", Model)
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#qlkm").addClass("ui active");
    })
</script>


