@model QlydkInternet.ViewModels.KhuyenMaiViewModel
@{
    ViewData["Title"] = "Cập nhật khuyến mãi";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/font-awesome.min.css" />
<link rel="stylesheet" href="~/lib/semantic/calendar.css" />
<script src="~/lib/jquery/dist/jquery-2.1.4.js"></script>
<script src="~/lib/semantic/calendar.js"></script>
@section Nhanvien{

    <img src="/images/patrick.png" class="ui circular image" style="margin-left: 73px; max-width:28%;margin-top:7px">

    <h2 class="ui header" style="text-align:  center;color: wheat;margin-top: 0;">
        @ViewBag.sessionnv
    </h2>
}

<h2 style="margin-top:0">Cập nhật khuyến mãi</h2>
<div class="row">
    <div class="column">
        <h3 class="ui dividing teal header"></h3>
    </div>
</div>
<div class="row">
    <div class="ui ten wide column">
        <form class="ui form" asp-controller="KhuyenMai" asp-action="Update" id="createform">
            <div class="field" id="providerFields">
                <label>Tên khuyến mãi</label>
                <div class="ui search" id="provider-search">
                    <input class="prompt"
                           id="tenkm"
                           asp-for="@Model.tenkhuyenmai"
                           value="@Model.tenkhuyenmai"
                           placeholder="Tên gói cước">
                    <div class="results"></div>
                    <input class="prompt"
                           type="hidden"
                           asp-for="@Model.makhuyenmai"
                           placeholder="Tên gói cước"
                           value="@Model.makhuyenmai"
                           id="makm">
                </div>
            </div>
            <div class="field">
                <label>Loại khuyến mãi</label>
                <select class="ui fluid dropdown"
                        id="loaikm"
                        asp-for="@Model.maloaikhuyenmai"
                        asp-items="@Model.listloaikm"
                        data-validate="valid-customer-type">
                    @Model.tenloaikhuyenmai
                    </select>
                </div>
                <div class="field">
                    <label>Trị giá</label>
                    <input type="number"
                           placeholder="Trị giá"
                           asp-for="@Model.trigia"
                           id="trigia"
                           value="@Model.trigia">
                </div>
                <div class="two fields" style="padding-left: 7px;padding-right: 7px; margin-bottom:0">
                    <div class="field">
                        <label>Ngày bắt đầu</label>
                        @*<input type="text"
                            placeholder="Ngày bắt đầu"
                            asp-for="@Model.ngbd"
                            id="giacuoc"
                            value="1000">*@
                        <div class="ui calendar" id="rangestart">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input id="ngbd" type="text" placeholder="Ngày bắt đầu" asp-for="@Model.ngaybatdau"
                                       value="@Model.ngaybatdau">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Ngày kết thúc</label>
                        @*<input type="text"
                            placeholder="Ngày kết thúc"
                            asp-for="@Model.ngkt"
                            id="tocdo"
                            value="1000">*@
                        <div class="ui calendar" id="rangeend">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input id="ngkt" type="text" placeholder="Ngày kết thúc" asp-for="@Model.ngayketthuc"
                                       value="@Model.ngayketthuc">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Tình trạng</label>
                    <select class="ui fluid dropdown"
                            id="tinhtrang"
                            asp-for="@Model.matinhtrang"
                            asp-items="@Model.listtinhtrang"
                            data-validate="valid-customer-type">
                        @Model.tentinhtrang
                        </select>
                    </div>
                    <div class="ui center aligned segment" style="border:none; box-shadow:none">
                        <button class="ui primary submit toggle button" type="submit" id="btnThem" style="width:19%">Lưu</button>
                        <div class="ui reset toggle button" id="btnXoa" style="width:19%">Hủy</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ui tiny modal" id="notify-modal">
            <div class="header">Thành công</div>
            <div class="content">
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>



        <script>

    $(document).ready(function () {
        $("#btnXoa").on("click", function () {
            var url = '@Url.Action("Index","KhuyenMai")';
            window.location = url;
        })
        $('#rangestart').calendar({
            type: 'date',
            endCalendar: $('#rangeend'),
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            },
            onChange: function (date, text) {
                var newValue = text;
                //alert(newValue)
                $('#ngbd').val(newValue);
            },
        });
        $('#rangeend').calendar({
            type: 'date',
            startCalendar: $('#rangestart'),
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                    $('#ngkt').val() = day + '/' + month + '/' + year;
                }
            },
            onChange: function (date, text) {
                var newValue = text;
                //alert(newValue)
                $('#ngkt').val(newValue);
            },
        });
        $('#btnThem').on("click", function () {
            var url = $("#createform").attr("action");
            var tenkm = $("#tenkm").val();
            var loaikm = $("#loaikm").val();
            var ngbd = $("#ngbd").val();
            var ngkt = $("#ngkt").val();
            var trigia = $("#trigia").val();
            var tinhtrang = $("#tinhtrang").val();
            var makm = $("#makm").val();
            var token = $('#createform input').val();
            console.log(ngbd)
            var data = {
                makhuyenmai : makm,
                tenkhuyenmai: tenkm,
                maloaikhuyenmai: loaikm,
                ngbd: ngbd,
                ngkt: ngkt,
                trigia: trigia,
                matinhtrang: tinhtrang,
                __RequestVerificationToken: token
            }
            $.ajax({
                type: "post",
                url: url,
                data: data,
                success: function (result, status, xhr) {
                    if (status === 'success') {
                        //window.location.reload();
                        //alert(result.str);
                        $('#notify-modal').html(result);
                        $('#notify-modal').modal('show');
                        setTimeout(function () {
                            $('#notify-modal').modal('hide');
                        }, 1000);
                    }
                },
                error: function (xhr, status, error) {
                    //idk what to do right here
                    //inactive dimmer
                }
            });
        })
        $('#btnXoa').on("click", function () {
            $('#tengc').val() = "";
            $('#loaigc').val() = 1;
            $('#giacuoc').val() = 1000;
            $('#mota').val() = "";
            $('#tocdo').val() = 1000; _
        })

        $("#qlkm").addClass("ui active");
    })
        </script>
