@model QlydkInternet.ViewModels.HopDongViewModel
@{
    ViewData["Title"] = "Tạo hợp đồng";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/font-awesome.min.css" />
<link rel="stylesheet" href="~/lib/semantic/calendar.css" />
<script src="~/lib/jquery/dist/jquery-2.1.4.js"></script>
<script src="~/lib/semantic/calendar.js"></script>

@section Nhanvien{

    <img src="/images/patrick.png" class="ui circular image" style="margin-left: 73px; max-width:28%;margin-top:7px">

    <h2 class="ui header" style="text-align:  center;color: wheat;margin-top: 0;">
        @ViewBag.sessionnv
    </h2>
}

<h2 style="margin-top:0">Thông tin khách hàng</h2>
<div class="row">
    <div class="ui ten wide column">
        <form class="ui form" asp-controller="HopDong" asp-action="Create" id="createform">
            @*
                nhập thông tin khách hàng
            *@
            <div class="field" id="providerFields">
                <label>Họ tên</label>
                <input class="prompt"
                       id="hoten"
                       asp-for="@Model.tenkhachhang"
                       placeholder="Tên khách hàng">
            </div>
            <div class="field">
                <label>Chứng minh nhân dân</label>
                <input class="prompt"
                       id="cmnd"
                       asp-for="@Model.cmnd"
                       placeholder="Chứng minh nhân dân">
            </div>
            <div class="field">
                <label>Số điện thoại</label>
                <input type="text"
                       placeholder="Số điện thoại"
                       asp-for="@Model.sdt"
                       id="sdt">
            </div>
            <div class="field">
                <label>Email</label>
                <input type="text"
                       placeholder="Email"
                       asp-for="@Model.email"
                       id="email">
            </div>
            <div class="field">
                <label>Địa chỉ</label>
                <input type="text"
                       id="diachi"
                       placeholder="Địa chỉ"
                       asp-for="@Model.diachi">
            </div>
            <div class="field">
                <label>Nghề nghiệp</label>
                <input type="text"
                       id="nghenghiep"
                       placeholder="Nghề nghiệp"
                       asp-for="@Model.nghenghiep">
            </div>
            @*
                nhập thông tin hợp đồng
            *@
            <h2 style="text-align:center; margin-top:0">Thông tin hợp đồng</h2>
            <div class="field" id="providerFields">
                <label>Ngày áp dụng</label>
                @*<input class="prompt"
                    id="ngad"
                    asp-for="@Model.ngad"
                    placeholder="Ngày áp dụng">*@
                <div class="ui calendar" id="rangestart" style="display:none">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input id="today" type="text" placeholder="Ngày áp dụng">
                    </div>
                </div>
                <div class="ui calendar" id="rangeend">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input id="ngad" type="text" placeholder="Ngày áp dụng" asp-for="@Model.ngayapdung">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Địa chỉ cài đặt</label>
                <input type="text"
                       placeholder="Địa chỉ cài đặt"
                       asp-for="@Model.diachicaidat"
                       id="dccaidat">
            </div>
            <div class="field">
                <label>Địa chỉ hóa đơn</label>
                <input type="text"
                       placeholder="Địa chỉ hóa đơn"
                       asp-for="@Model.diachithanhtoan"
                       id="dchoadon">
            </div>
            <div class="field">
                <label>Gói cước</label>
                <select class="ui fluid dropdown"
                        id="magoicuoc"
                        asp-for="@Model.magoicuoc"
                        asp-items="@Model.listgc"
                        data-validate="valid-customer-type"></select>
            </div>
            <div class="field">
                <label>Tình trạng</label>
                @*<input type="text"
                    placeholder="Gói cước"
                    asp-for="@Model.magc">*@
                <select class="ui fluid dropdown"
                        id="matinhtrang"
                        asp-for="@Model.matinhtrang"
                        asp-items="@Model.listtinhtrang"
                        data-validate="valid-customer-type"></select>
            </div>
            <div class="ui center aligned segment" style="border:none; box-shadow:none">
                <button class="ui primary submit toggle button" type="submit" id="btnThem" style="width:19%">Lưu</button>
                <div class="ui reset toggle button" id="btnXoa" style="width:19%">Hủy</div>
            </div>
        </form>
    </div>
</div>


<div class="ui tiny modal" id="notify-modal">
    <div class="header">Thành công</div>
    <div class="content">
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>

<script src="~/js/cleave.min.js"></script>
<script src="~/js/numeral.min.js"></script>

<script>
    $(document).ready(function () {
        $("#btnXoa").on("click", function () {
            var url = '@Url.Action("Index","HopDong")';
            window.location = url;
        })
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        today = mm + '/' + dd + '/' + yyyy;
        $('#today').val(today);
        $('#ngsinh').val('1/1/2001');
        $('#ngaysinh').calendar({
            type: 'date',
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            },
            onChange: function (date, text) {
                var newValue = text;
                //alert(newValue)
                $('#ngsinh').val(newValue);
            },
        });
        $('#rangestart').calendar({
            type: 'date',
            endCalendar: $('#rangeend'),
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            },
            onChange: function (date, text) {
                var newValue = text;
                //alert(newValue)
                $('#ngbd').val(newValue);
            },
        });
        $('#rangeend').calendar({
            type: 'date',
            startCalendar: $('#rangestart'),
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            },
            onChange: function (date, text) {
                var newValue = text;
                //alert(newValue)
                $('#ngad').val(newValue);
            },
        });
        $('#btnThem').on("click", function () {
            var url = $("#createform").attr("action");

            var tenkh = $("#hoten").val();
            var cmnd = $("#cmnd").val();
            var sdt = $("#sdt").val();
            var email = $("#email").val();
            var diachi = $("#diachi").val();
            var nghenghiep = $("#nghenghiep").val();

            var ngad = $("#ngad").val();
            var dccaidat = $("#dccaidat").val();
            var dchoadon = $("#dchoadon").val();
            var magc = $("#magoicuoc").val();
            var matinhtrang = $("#matinhtrang").val();

            var token = $('#createform input').val();

            var data = {
                tenkhachhang: tenkh,
                cmnd: cmnd,
                sdt: sdt,
                email: email,
                diachi: diachi,
                nghenghiep: nghenghiep,
                ngayapdung: ngad,
                diachicaidat: dccaidat,
                diachithanhtoan: dchoadon,
                magoicuoc: magc,
                matinhtrang: matinhtrang,
                __RequestVerificationToken: token
            }
            $.ajax({
                type: "post",
                url: url,
                data: data,
                success: function (result, status, xhr) {
                    if (status === 'success') {
                        //window.location.reload();
                        //alert(result.str);
                        $('#notify-modal').html(result);
                        $('#notify-modal').modal('show');
                        setTimeout(function () {
                            $('#notify-modal').modal('hide');
                        }, 1000);
                    }
                },
                error: function (xhr, status, error) {
                    //idk what to do right here
                    //inactive dimmer
                }
            });
        })
        $('#btnXoa').on("click", function () {
            $('#tengc').val() = "";
            $('#loaigc').val() = 1;
            $('#giacuoc').val() = 1000;
            $('#mota').val() = "";
            $('#tocdo').val() = 1000; _
        })

        $("#qlhd").addClass("ui active");
    })
</script>

