@model QlydkInternet.ViewModels.HopDongViewModel
@{
    ViewData["Title"] = "Chi tiết hợp đồng";
}

@section menu{
   
}

<h2>Chi tiết hợp đồng</h2>

<div class="ui centered grid equal width" style="width:100%;">
    <div class="sixteen wide column">
        <h3 class="ui dividing teal header"></h3>
    </div>
    <div class="row">
        <div class="column">
            <h3 class="ui dividing header">
                Mã hợp dồng
                <div class="sub header" style="font-size:2rem">@Model.mahd</div>
            </h3>
        </div>
        <div class="column">
            <h3 class="ui dividing header">
                Tên khách hàng
                <div class="sub header" style="font-size:2rem">@Model.tenkh</div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column" id="tenkhachhang">
            <h3 class="ui dividing header">
                Loại gói cước
                <div class="sub header" style="font-size:2rem">@Model.tengc</div>
            </h3>
        </div>
        <div class="column" id="tenncc">
            <h3 class="ui dividing header">
                Loại thanh toán
                <div class="sub header" style="font-size:2rem">@Model.tenloaitt</div>
            </h3>
        </div>

    </div>
    <div class="row">
        <div class="column" id="tenkhachhang">
            <h3 class="ui dividing header">
                Địa chỉ cài đặt
                <div class="sub header" style="font-size:2rem">@Model.dccaidat</div>
            </h3>
        </div>
        <div class="column" id="tenncc">
            <h3 class="ui dividing header">
                Tình trạng
                <div class="sub header" style="font-size:2rem">@Model.tinhtrang</div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column" id="tenkhachhang">
            <h3 class="ui dividing header">
                Ngày đăng ký
                <div class="sub header" style="font-size:2rem">@Model.ngdk.ToString("dd/MM/yyyy")</div>
            </h3>
        </div>
        <div class="column" id="tenncc">
            <h3 class="ui dividing header">
                Ngày áp dụng
                <div class="sub header" style="font-size:2rem">@Model.ngad.ToString("dd/MM/yyyy")</div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column" id="tenkhachhang">
            <h3 class="ui dividing header">
                Tài khoản
                <div class="sub header" style="font-size:2rem">@Model.taikhoan</div>
            </h3>
        </div>
        <div class="column" id="tenncc">
            <h3 class="ui dividing header">
                Mật khẩu
                <div class="sub header" style="font-size:2rem">@Model.matkhau</div>
            </h3>
        </div>
    </div>
</div>
<form class="ui form" asp-controller="HopDong" asp-action="Update" method="get" id="createform" style="width:100%">
    <input class="prompt"
           type="hidden"
           asp-for="@Model.mahd"
           placeholder="Tên gói cước"
           value="@Model.mahd">
    <div class="ui center aligned segment" style="border:none; box-shadow:none">
        <button class="ui primary submit toggle button" type="submit" id="btnThem" style="width:11%">Chỉnh sửa</button>
        <div class="ui reset toggle button" id="btnXoa" style="width:11%">Hủy</div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#qlhd").addClass("ui active");
    })
</script>



