@model PaginatedList<QlydkInternet.ViewModels.HopDongViewModel>

@{
    ViewData["Title"] = "Hợp Đồng";
}

@section menu{

}

<h2>Danh sách hợp đồng</h2>

<div class="row" id="context">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui selectable teal table">
            <thead>
                <tr>
                    <th style="width: 15%">
                        Mã hợp đồng
                    </th>
                    <th style="width: 15%">
                        Ngày đăng ký
                    </th>
                    <th style="width: 15%">
                        Ngày áp dụng
                    </th>
                    <th style="width: 15%">
                        Tên khách hàng
                    </th>
                    <th style="width: 15%">
                        Tên gói cước
                    </th>
                    <th style="width: 15%">
                        Loại thanh toán
                    </th>
                    <th>
                        Tình trạng
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {

                    <tr class="selectable">

                        <td style="padding-left: 11px">
                            <a asp-action="Details" asp-route-id="@customer.mahd">
                                @customer.mahd
                            </a>
                        </td>
                        <td style="padding-left: 11px">
                            @customer.ngdk.ToString("dd/MM/yyyy")
                        </td>
                        <td style="padding-left: 11px">
                            @customer.ngad.ToString("dd/MM/yyyy")
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tenkh
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tengc
                        </td>
                        <td style="padding-left: 11px">
                            @customer.loaitt
                        </td>
                        <td style="padding-left: 11px">
                            @customer.tinhtrang
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_Paginated", Model)
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#qlhd").addClass("ui active");
    })
</script>


